<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div id="login-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
<!--        <form id="login-form" action='/login' method='POST'>-->
<!--            <input type="text" name="name" placeholder="Nom" required>-->
<!--            <input type="password" name="password" placeholder='••••••••••••••' required>-->
<!--            <button type="submit" name='submit'>Se connecter</button>-->
<!--        </form>-->
<!--        <hr>-->
        <p>Connecter via son compte Ryzom:</p>
        <a href="{{ url_for('authorize') }}" class="button-link">ryzom.com</a>
    </div>
</body>
</html>
