<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Carte d'Atys</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		
		<link rel="stylesheet" href="{{url_for('static', filename='css/leaflet.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/map.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/Control.FullScreen.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/easy-button.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/leaflet-sidepanel.css')}}">

		<script src="{{url_for('static', filename='js/jquery-3.6.3.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/leaflet.js')}}"></script>
		<script src="{{url_for('static', filename='js/map-leaflet.js')}}"></script>
		<script src="{{url_for('static', filename='js/Control.FullScreen.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
		<script src="{{url_for('static', filename='js/custom.js')}}"></script>
		<script src="{{url_for('static', filename='js/iconify.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/easy-button.js')}}"></script>
		<script src="{{url_for('static', filename='js/leaflet-sidepanel.min.js')}}"></script>
	</head>
	<body>
		<div id="map">
			<div id="mySidepanelRight" class="sidepanel" aria-label="side panel" aria-hidden="false">
				<div class="sidepanel-inner-wrapper">
					<nav class="sidepanel-tabs-wrapper" aria-label="sidepanel tab navigation">
						<ul class="sidepanel-tabs">
							<li class="sidepanel-tab">
								<a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-1">
									P.O.I
								</a>
							</li>
							<li class="sidepanel-tab">
								<a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-2">
									Nexus automne
								</a>
							</li>
							<li class="sidepanel-tab">
								<a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-3">
									Nexus printemps
								</a>
							</li>
							<li class="sidepanel-tab">
								<a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-4">
									Nexus hiver
								</a>
							</li>
							<li class="sidepanel-tab">
								<a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-5">
									Nexus été
								</a>
							</li>
							<li class="sidepanel-tab">
								<a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-6">
									Aide
								</a>
							</li>
						</ul>
					</nav>
					<div class="sidepanel-content-wrapper">
						<div class="sidepanel-content">
							<div class="sidepanel-tab-content" data-tab-content="tab-1">
								<h4>Points d'interets divers</h4>
								<input type="checkbox" class="layer-group" id="levelLayerGroup"><label for="levelLayerGroup">Niveaux de zone</label>
								<br>
								<input type="checkbox" class="layer-group" id="tpLayerGroup"><label for="tpLayerGroup">TP</label>
								<br>
								<input type="checkbox" class="layer-group" id="VortexLayerGroup"><label for="VortexLayerGroup">Vortex</label>
								<br>
								<input type="checkbox" class="layer-group" id="NhLayerGroup"><label for="NhLayerGroup">New Horizons</label>
								<br>
								<input type="checkbox" class="layer-group" id="tribeCheckbox"><label for="tribeCheckbox">Tribus</label>
								<input type="checkbox" class="layer-group" id="affiliateLayerGroup"><label for="affiliateLayerGroup">Affiliés</label>
								<div id="filters" style="display: none; margin-top: 10px;">
									<label><input type="radio" name="factionFilter" id="tribeLayerGroup">Toutes</label>
									<label><input type="radio" name="factionFilter" id="kamitribeLayerGroup">Kami</label>
									<label><input type="radio" name="factionFilter" id="karatribeLayerGroup">Karavan</label>
									<label><input type="radio" name="factionFilter" id="marautribeLayerGroup">Maraudeurs</label>
								</div>
								<br>
								<input type="checkbox" class="layer-group" id="banditLayerGroup"><label for="banditLayerGroup">Bandits</label>
								<br>
								<input type="checkbox" class="layer-group" id="outpostLayerGroup"><label for="outpostLayerGroup">Ops</label>
								<br>
								<input type="checkbox" class="layer-group" id="GuildLayerGroup"><label for="GuildLayerGroup">Guild Agents</label>
								<br>
								<input type="checkbox" class="layer-group" id="TempleLayerGroup"><label for="TempleLayerGroup">Temples</label>
								<br>
								<input type="checkbox" class="layer-group" id="BossLayerGroup"><label for="BossLayerGroup">Rois</label>
								<br>
								<input type="checkbox" class="layer-group" id="MarauderBossLayerGroup"><label for="MarauderBossLayerGroup">Rois Maraudeurs</label>
								<br>
								<input type="checkbox" class="layer-group" id="FlowerLayerGroup"><label for="FlowerLayerGroup">Spots Fleuriste (varie suivant la saison)</label>
								<br>
								<input type="checkbox" class="layer-group" id="pathLayerGroup"><label for="pathLayerGroup">Chemins</label>
								<br>
								<input type="checkbox" class="layer-group" id="WeatherLayerGroup" checked><label for="WeatherLayerGroup">Météo (actualisé toutes les 90s)</label>
								<br>
								<input type="checkbox" id="nextseason" checked><label for="nextseason">Prochaine Saison (actualisé toutes les 30min)</label>
								<br>
								<p>
									Météo:
									<div class="img-row" style="margin-bottom:30px;">

										<img src="{{url_for('static', filename='images/best.png')}}" class="img-icon"> BEST (0-16%)
										<img src="{{url_for('static', filename='images/good.png')}}" class="img-icon"> GOOD (16-50%)
										<img src="{{url_for('static', filename='images/bad.png')}}" class="img-icon"> BAD (50-83%)
										<img src="{{url_for('static', filename='images/worst.png')}}" class="img-icon"> WORST (83-100%)
									</div>
									TP neutres:
									<div class="img-row" style="margin-bottom:30px;">
										<img src="{{url_for('static', filename='images/tp_kami_neutral.png')}}" class="img-icon"> Kami
										<img src="{{url_for('static', filename='images/tp_karavan_neutral.png')}}" class="img-icon"> Karavan
									</div>
									TP de faction:
									<div class="img-row" style="margin-bottom:30px;">
										<img src="{{url_for('static', filename='images/tp_kami.png')}}" class="img-icon"> Kami
										<img src="{{url_for('static', filename='images/tp_karavan.png')}}" class="img-icon"> Karavan
										<img src="{{url_for('static', filename='images/tp_marauder.png')}}" class="img-icon"> Maraudeur
										<img src="{{url_for('static', filename='images/tp_ranger.png')}}" class="img-icon">Ranger
									</div>
								</p>
								<div class="legend">
									<h4>Légende des niveaux</h4>
									<ul>
										<li>
											<span class="level-box" style="background-color: #A9C9D6;"></span>
											Niveau 50
										</li>
										<li>
											<span class="level-box" style="background-color: #F2E2A0;"></span>
											Niveau 100
										</li>
										<li>
											<span class="level-box" style="background-color: #F4B686;"></span>
											Niveau 150
										</li>
										<li>
											<span class="level-box" style="background-color: #F28C8C;"></span>
											Niveau 200
										</li>
										<li>
											<span class="level-box" style="background-color: #B9A0D1;"></span>
											Niveau 250
										</li>
									</ul>
								</div>
							</div>
							<div class="sidepanel-tab-content" data-tab-content="tab-2">
								<h4>MP Nexus Fyros</h4>
								<input type="checkbox" class="layer-group" id="bestFyrosLayerGroup">
								<label for="bestFyrosLayerGroup">best</label>
								<br>
								<input type="checkbox" class="layer-group" id="goodFyrosLayerGroup">
								<label for="goodFyrosLayerGroup">good</label>
								<br>
								<input type="checkbox" class="layer-group" id="badFyrosLayerGroup">
								<label for="badFyrosLayerGroup">bad</label>
								<br>
								<input type="checkbox" class="layer-group" id="worstFyrosLayerGroup">
								<label for="worstFyrosLayerGroup">worst</label>
							</div>
							<div class="sidepanel-tab-content" data-tab-content="tab-3">
								<h4>MP Nexus Matis</h4>
								<input type="checkbox" class="layer-group" id="bestMatisLayerGroup">
								<label for="bestMatisLayerGroup">best</label>
								<br>
								<input type="checkbox" class="layer-group" id="goodMatisLayerGroup">
								<label for="goodMatisLayerGroup">good</label>
								<br>
								<input type="checkbox" class="layer-group" id="badMatisLayerGroup">
								<label for="badMatisLayerGroup">bad</label>
								<br>
								<input type="checkbox" class="layer-group" id="worstMatisLayerGroup">
								<label for="worstMatisLayerGroup">worst</label>
							</div>
							<div class="sidepanel-tab-content" data-tab-content="tab-4">
								<h4>MP Nexus Tryker</h4>
								<input type="checkbox" class="layer-group" id="bestTrykerLayerGroup">
								<label for="bestTrykerLayerGroup">best</label>
								<br>
								<input type="checkbox" class="layer-group" id="goodTrykerLayerGroup">
								<label for="goodTrykerLayerGroup">good</label>
								<br>
								<input type="checkbox" class="layer-group" id="badTrykerLayerGroup">
								<label for="badTrykerLayerGroup">bad</label>
								<br>
								<input type="checkbox" class="layer-group" id="worstTrykerLayerGroup">
								<label for="worstTrykerLayerGroup">worst</label>
							</div>
							<div class="sidepanel-tab-content" data-tab-content="tab-5">
								<h4>MP Nexus Zorai</h4>
								<input type="checkbox" class="layer-group" id="bestZoraiLayerGroup">
								<label for="bestZoraiLayerGroup">best</label>
								<br>
								<input type="checkbox" class="layer-group" id="goodZoraiLayerGroup">
								<label for="goodZoraiLayerGroup">good</label>
								<br>
								<input type="checkbox" class="layer-group" id="badZoraiLayerGroup">
								<label for="badZoraiLayerGroup">bad</label>
								<br>
								<input type="checkbox" class="layer-group" id="worstZoraiLayerGroup">
								<label for="worstZoraiLayerGroup">worst</label>
							</div>
							<div class="sidepanel-tab-content" data-tab-content="tab-6">
								<h4>Comment faire une recherche?</h4>
								<p>
									<b><i></i>note</b></i>: le champ de recherche et son autocomplétion n'a que les noms des PNJ en memoire.<br>Cela n'empèche pas la recherche d'autre chose.
								</p>
								<p>vous pouvez rechercher simplement:
									<ul>
										<li>un PNJ par son nom:<br>
											<ul>
												<li>Ex: <em>Ba'Wity Echen</em></li>
												<li>Ex: <em>Arken</em></li>
											</ul>
										</li>
										<li>un PNJ par son titre:
											<ul>
												<li>Ex: <em>eclaireur</em></li>
												<li>Ex: <em>marchand</em></li>
											</ul>
										</li>
										<li>un type de MP:
											<ul>
												<li>Ex: <em>ambre</em></li>
												<li>Ex: <em>bois</em></li>
											</ul>

										<li>un genre de MP:
											<ul>
												<li>Ex: <em>zun</em></li>
												<li>Ex: <em>eyota</em></li>
											</ul>
										</li>
										<li>une saison:
											<ul>
												<li>Ex: <em>été</em></li>
												<li>Ex: <em>automne</em></li>
											</ul>
										</li>
										<li>une météo:
											<ul>
												<li>Ex: <em>worst</em></li>
												<li>Ex: <em>bad</em></li>
											</ul>
										</li>
									</ul>
								</p>
								<p>Vous pouvez également construire des recherches plus élaborées.
									<br>l'ordre des éléments <b><i>doit</i></b> être respecté.
									<ul>
										<li>associer une saison et autre chose en le séparant avec un point.
											<ul>
												<li>Ex: <em>été.zun</em></li>
												<li>Ex: <em>été.huile</em></li>
												<li>Ex: <em>hiver.bad</em></li>
											</ul>
										</li>
										<li>associer un genre de MP et autre chose en le séparant avec un point.
											<ul>
												<li>Ex: <em>zun.excellent</em></li>
												<li>Ex: <em>gulatch.bad</em></li>
											</ul>
										</li>
										<li>associer une saison, un type de mp et une qualité, en les séparant avec un point.
											<ul>
												<li>Ex: <em>été.zun.excellent</em></li>
												<li>Ex: <em>hiver.huile.supreme</em></li>
											</ul>
										</li>
									</ul>
								</p>
								<p>valider le formulaire vide efface les points</p>
								<p>la navigation au clavier est possible:
									<ul>
										<li>- déplacement via les touches fléchées</li>
										<li>- zoom avec + et -</li>
										<li>- plein écran avec la touche F11</li>
									</ul>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="sidepanel-toggle-container">
					<button class="sidepanel-toggle-button" type="button" aria-label="toggle side panel"></button>
				</div>
			</div>
		</div>
	</body>
</html>
